In [1]:
#!pip install psycopg2-binary

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd

# Parámetros de conexión
user = 'jbpm'
password = 'jbpm'
host = 'localhost'
port = '5432'
database = 'jbpm'

# Crea la URL de conexión
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

# Probar conexión: listar tablas
with engine.connect() as connection:
    result = connection.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema='public'"))
    for row in result:
        # Imprimir usando el índice de la tupla
        print(row[0])  # row[0] es el valor de la primera columna (table_name)

booleanexpression
audittaskimpl
bamtasksummary
correlationkeyinfo
casefiledatalog
caseidinfo
caseroleassignmentlog
content
contextmappinginfo
deadline
attachment
delegation_delegates
deploymentstore
eventtypes
errorinfo
email_header
executionerrorinfo
i18ntext
nodeinstancelog
processinstancelog
querydefinitionstore
organizationalentity
processinstanceinfo
reassignment
notification
notification_bas
notification_email_header
notification_recipients
peopleassignments_bas
peopleassignments_exclowners
peopleassignments_potowners
peopleassignments_recipients
peopleassignments_stakeholders
reassignment_potentialowners
sessioninfo
requestinfo
taskdef
taskevent
taskvariableimpl
variableinstancelog
workiteminfo
task_comment
task
escalation
correlationpropertyinfo
entidad_global
sector_privado
tablados
entityjackone
entityjacktwo
entityjohn
entitykaty
tablafinal
Tablacompleta
tablacontodos

In [3]:
dfjackone = pd.read_sql("SELECT * FROM entityjackone", engine)
dfjackone.head()

   id     name   reason
0   1  111-222  111-222
1   2  aaa-bbb  aaa-bbb

In [4]:
dfjacktwo = pd.read_sql("SELECT * FROM entityjacktwo", engine)
dfjacktwo.head()

   id   adress    email
0   1  111-222  111-222
1   2  aaa-bbb  aaa-bbb

In [5]:
dfjohn = pd.read_sql("SELECT * FROM entityjohn", engine)
dfjohn.head()

   id                date director
0   1 2025-04-09 16:50:00  111-333
1   2 2025-04-11 17:55:00  aaa-bbb

In [6]:
dfkaty= pd.read_sql("SELECT * FROM entitykaty", engine)
dfkaty.head()

   id  activo dentrodelcamino
0   1    True         111-222
1   2    True         aaa-ccc

In [7]:

#df_concat = pd.concat([dfjackone, dfjacktwo,dfjohn,dfkaty], ignore_index=False)
# Lista de DataFrames a combinar
from functools import reduce

dfs = [dfjackone, dfjacktwo, dfjohn, dfkaty]

# Función para combinar dos DataFrames
def merge_two(left, right):
    return pd.merge(left, right, on='id', how='outer')

# Combinación de todos los DataFrames
df_concat = reduce(merge_two, dfs)

#eliminar duplicados
#df_concat = df_concat.drop_duplicates()
df_concat = df_concat.drop_duplicates(subset=['id'])

# Mostrar las primeras filas del DataFrame combinado
df_concat.head()

,id,name,reason,adress,email,date,director,activo,dentrodelcamino
0,1,111-222,111-222,111-222,111-222,2025-04-09 16:50:00,111-333,True,111-222
1,2,aaa-bbb,aaa-bbb,aaa-bbb,aaa-bbb,2025-04-11 17:55:00,aaa-bbb,True,aaa-ccc

In [8]:
#'dfjackone' in locals()

In [9]:

df_concat.to_sql(
    name='tablacontodos',    # Nombre de la tabla en PostgreSQL
    con=engine,              # Conexión a la base de datos
    if_exists='append',      # Crea la tabla o la reemplaza si ya existe
    index=False              # No incluir el índice de pandas como columna
)

2

In [10]:
from sqlalchemy import text

with engine.connect() as connection:
    result = connection.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema='public'"))
    for row in result:
        print(row[0])

booleanexpression
audittaskimpl
bamtasksummary
correlationkeyinfo
casefiledatalog
caseidinfo
caseroleassignmentlog
content
contextmappinginfo
deadline
attachment
delegation_delegates
deploymentstore
eventtypes
errorinfo
email_header
executionerrorinfo
i18ntext
nodeinstancelog
processinstancelog
querydefinitionstore
organizationalentity
processinstanceinfo
reassignment
notification
notification_bas
notification_email_header
notification_recipients
peopleassignments_bas
peopleassignments_exclowners
peopleassignments_potowners
peopleassignments_recipients
peopleassignments_stakeholders
reassignment_potentialowners
sessioninfo
requestinfo
taskdef
taskevent
taskvariableimpl
variableinstancelog
workiteminfo
task_comment
task
escalation
correlationpropertyinfo
entidad_global
sector_privado
tablados
entityjackone
entityjacktwo
entityjohn
entitykaty
tablafinal
Tablacompleta
tablacontodos

In [11]:

df_verificacion = pd.read_sql('SELECT * FROM "public"."tablacontodos"', engine)
df_verificacion.head()

,id,name,reason,adress,email,date,director,activo,dentrodelcamino
0,1,111-222,111-222,111-222,111-222,2025-04-09 16:50:00,111-333,True,111-222
1,2,aaa-bbb,aaa-bbb,aaa-bbb,aaa-bbb,2025-04-11 17:55:00,aaa-bbb,True,aaa-ccc
2,1,111-222,111-222,111-222,111-222,2025-04-09 16:50:00,111-333,True,111-222
3,2,aaa-bbb,aaa-bbb,aaa-bbb,aaa-bbb,2025-04-11 17:55:00,aaa-bbb,True,aaa-ccc